.border-right .carousel-control-prev {
  background-color: white;
  opacity: 0.6;
}

.border-right .carousel-control-prev-icon {
  filter: invert(1);
}

.border-left .carousel-control-next {
  background-color: white;
  opacity: 0.6;
}

.border-left .carousel-control-next-icon {
  filter: invert(1);
}
