
// Cards page INDEX

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-trip:hover {
  transform: scale(1.03);
}

.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-trip h3 {
  font-size: 18px;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $red;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height: 40px;
}

.grid-wrapper a:hover {
  text-decoration: none;
}

#map {
  position: sticky;
  top: 80px;
  bottom: 80px;
  margin-left: 25px;
  margin-right: -25px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;

}


// Cards Category
.card-category {
  width: 100px;
  height: 40px;
  background-color: $green;
  margin-top: 12px;
  margin-bottom: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 8px;

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}
// Card Display rules

.card-active {
  background-color: $green;
  opacity: 0.5;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content;
  grid-gap: 16px;
  margin-top: 10px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .grid-wrapper {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .grid-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}
