// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card_show";
@import "card_index";
@import "banner";
@import "footer";
@import "card_dashboard.scss";
@import "carroussel";

