.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon-default {
  background-color: white;
  transition: 0.5s background-color ease;

  .nav-item .nav-link {
    color: black;
  }
}

.navbar-lewagon-banner {
  background-color: rgba(0,0,0,0.2);
  transition: 0.5s background-color ease;

  .nav-item .nav-link {
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .nav-item:hover {
  color: $green;
}
