// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.form-group {
    margin-bottom: 0.5rem;
  }

.form-wrapper {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  form {
      width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
