<div class="confirm-banner py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.voiledetraction.fr/wp-content/uploads/kitesurf-sicily-the-best-offers-in-kitesurf-for-a-sport.jpeg);">
  <div class="container confirm-container border-green-4 d-flex justify-content-center">
    <div class="form-wrapper mb-2">
      <h1 class='text-center my-2'>Create your product Ad</h1>

      <%= render 'form' %>

    </div>
  </div>
</div>
