<div class="confirm-banner py-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://www.voiledetraction.fr/wp-content/uploads/kitesurf-sicily-the-best-offers-in-kitesurf-for-a-sport.jpeg);">
  <div class="container confirm-container border-green-4">
    <h1>Create your product</h1>
    <%= render 'form' %>
    <%= link_to "Back", products_path, class: "btn btn-info mt-1 justify-right"%>
  </div>
</div>
